@import "tailwindcss";

:root {
  --background: #f7f7f7;
  --foreground: #2d3748;
  --primary: #4299e1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a202c;
    --foreground: #e2e8f0;
    --primary: #63b3ed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
